html {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    line-height: 1.2;
    position: relative;
    -webkit-text-size-adjust: none;
    user-select: none;
    overflow: hidden;
}
.a-root {
    margin: 0 auto;
    width: 1em;
    height: 100%;
    font-size: 65vh; /*base 640px*/
}
.a-root a {
    text-decoration: none;
    color: #000000;
    -webkit-tap-highlight-color: transparent!important;
    -webkitf-highlight-color: transparent!important;
}
.a-root a:hover {
    color: #000000;
}
.a-root * {
    tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-drag: none;
}
.a-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-noflick {
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    perspective: 1000;
    backface-visibility: hidden;
}
.a-left {
    position: absolute;
    left: 0;
}
.a-right {
    position: absolute;
    right: 0;
}
.a-top {
    position: absolute;
    top: 0;
}
.a-bottom {
    position: absolute;
    bottom: 0;
}
.a-center {
    position: absolute;
    left: 50%;
    top: 50%;
}
.a-notification {
    position: absolute;
    left: 50%;
    bottom: 70%;
    width: 5em;
    margin-left: -2.5em;
    padding: 0.5em;
    background-color: #ff4242;
    color: #fff;
    line-height: 1.2;
    border-radius: 0.2em;
    border: #24211d solid 0.1em;
    opacity: 0;
    will-change: transform, opacity;
    transition: opacity linear 0.5s, transform 1s 2s cubic-bezier(0.18, 0.89, 0.32, 1.28), transform 1s 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    z-index: 1;
    box-sizing: border-box;
    font-size: 0.1em;
}
.a-notification.active{
    opacity: 1;
    transform: translateY(-6em);
}
.a-notification > p{
    font-size: 0.3125em; /*20px*/    
}
.a-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    transform:translateY(-200%);
    will-change: transform;
    transition: transform linear 0s 0.5s;
}
.a-overlay:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    will-change: opacity;
    transition: opacity ease 0.5s;
}
.a-overlay > * {
    position: relative;
}
.a-overlay.active {
    pointer-events: auto;
    transform: translateY(0);
    transition: transform linear 0s 0s;
}
.a-overlay.active:before {
    opacity: 1;
}
.a-translate0 {
    transform: translateX(-150%) translateY(-100%);
}
.a-translate1 {
    transform: translateX(-100%) translateY(-125%);
}
.a-translate2 {
    transform: translateX(0) translateY(-150%);
}
.a-translate3 {
    transform: translateX(100%) translateY(-125%);
}
.a-translate4 {
    transform: translateX(150%) translateY(-100%);
}
.a-translate5 {
    transform: translateX(-150%) translateY(0);
}
.a-translate6 {
    transform: translateX(-100%) translateY(125%);
}
.a-translate7 {
    transform: translateX(0) translateY(150%);
}
.a-translate8 {
    transform: translateX(100%) translateY(125%);
}
.a-translate9 {
    transform: translateX(150%) translateY(0);
}
.a-button {
    border: 0.04em solid transparent;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    will-change: border-color;
    transition: border-color 0.3s ease;
    font-size: inherit;
    width: 1em;
    height: 1em;
    -webkit-tap-highlight-color: transparent!important;
    -webkitf-highlight-color: transparent!important;
}
.a-button.active {
    border-color: #ff4242;
    background-color: #ccc;
}
.a-button.interact {
    border-color: #ececec;
}
.a-button.big {
    font-size: 0.18em;
}
.a-button.small {
    font-size: 0.117em;
    border-width: 0.06em;
}
.a-button[disabled], .a-button.disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}
.a-panel ul {
    max-width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.a-panel ul li {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform ease 0.5s, opacity linear 0.3s;
}
.a-panel.active ul li {
    opacity: 1;
    transform: translateX(0) translateY(0)!important;
}
.a-panel ul li .a-button {
    display: block;
}
.a-panel ul li .a-button + span {
    font-size: 0.03em;
    vertical-align: top;
    margin: 0.5em;
    display: inline-block;
}
.a-panel ul li .a-button.active + span {
    color: #ff4242;
    font-weight: bold;
}
.a-link {
    color: #f00;
    font-size: 0.025em;
    vertical-align: top;
    line-height: 1em;
    display: inline-block;
}
.a-link + .a-link:before {
    content: '|';
    display: inline-block;
    color: #000;
    padding: 0 0.0156em;
}
.a-logo {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    height: 0.1em;
    pointer-events: none;
    transform: translateY(-140%) translateX(-50%);
}
@keyframes a-logo-face-anim {
    0%   {transform: rotateZ(0);}
    10%  {transform: rotateZ(180deg);}
    60%  {transform: rotateZ(180deg);}
    70%  {transform: rotateZ(0);}
    100% {transform: rotateZ(0);}
}
@keyframes a-logo-eye1-anim {
    0%   {transform: translateX(0) translateY(0)}
    10%  {transform: translateX(0) translateY(0);}
    15%  {transform: translateX(-150%) translateY(-50%);}
    20%  {transform: translateX(-150%) translateY(-50%) scaleY(0.5);}
    22%  {transform: translateX(-150%) translateY(-50%) scaleY(1);}
    65%  {transform: translateX(-150%) translateY(-50%);}
    70%  {transform: translateX(0) translateY(0);}
    100% {transform: translateX(0) translateY(0);}
}
@keyframes a-logo-eye2-anim {
    0%   {transform: translateX(0) translateY(0);}
    10%  {transform: translateX(0) translateY(0);}
    15%  {transform: translateX(150%) translateY(-50%);}
    65%  {transform: translateX(150%) translateY(-50%);}
    70%  {transform: translateX(0) translateY(0);}
    100% {transform: translateX(0) translateY(0);}
}
.a-logo-face {
    transform-origin: 50% 60%;
    animation-name: a-logo-face-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.a-logo-eye1 {
    transform-origin: 50% 50%;
    animation-name: a-logo-eye1-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.a-logo-eye2 {
    transform-origin: 50% 50%;
    animation-name: a-logo-eye2-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.a-editor {
    padding: 0.1em;
    width: 1em;
    height: 1em;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 0px;
    margin-top: -0.1em;
}
.a-editor ol {
    border: 0.0125em solid #24211d;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: border-box;
}
.a-editor ol li {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    will-change: background;
    transition: background 0.3s ease;
    pointer-events: none;
}
.a-editor > ul {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
}
.a-editor > ul li {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    width: 0;
    transform-origin: top center;
    /*
    display: flex;
    justify-content: center;
    */
}
.debug .a-editor > ul li {
    width: 1px;
    background: rgba(255,0,0,0.5);    
}
.a-editor > ul li:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.a-editor > ul li.option:after {
    transform: translateY(50%) translateX(-50%);
    width: 0.02em;
    height: 0.02em;
    background-color: #24211d;
    border: 0.0125em solid #fff;
    border-radius: 50%;
    will-change: background-color;
    transition: background-color 0.3s ease;
}
.a-editor > ul li.option:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 0.078125em;
    width: 0.078125em;
    background-color: rgba(255, 255, 255, 0.01);
    transform: translateY(50%) translateX(-50%);
    border-radius: 50%;
}
.a-editor > ul li.option.active:after {
    background-color: #eb3d00;
}
.a-editor > ul li.option.tap:before {
    background-color: rgba(255, 0, 0, 0.2);
}
.a-editor > ul li.option.color:after {
    background-color: currentColor;
    border: 0;
    border-radius: 10%;
    transform: translateY(160%) translateX(-50%);
    width: 0.07em;
    height: 0.07em;
    box-shadow: inset 0 0 0 0.007em rgba(0, 0, 0, 0.1);
    will-change: transform;
    overflow: hidden;
}
.a-editor > ul li.option.color:before {
    display: none;
}
.a-editor > ul li.option.color.active:after {
    transform-origin: 0 200%;
    transform: scale(1.5, 1.5) translateY(160%) translateX(-50%);
    border-radius: 50%;
    will-change: transform;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition-duration: 0.3s;
    transition-property: transform;
}
.a-editor > ul li.cursor{
    will-change: transform;
    transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    z-index: 1;
}
.a-editor > ul li.cursor:after {
    width: 0.13em;
    height: 0.13em;
    transform: translateY(100%) translateX(-51%);
    box-sizing: content-box;    
    border-radius: 50%;
    background: transparent url(../img/cursor.svg) no-repeat center center;
    background-size: 60%;    
}
.a-editor > ul li.cursor.tap {
    transition: none;
}
.a-editor > ul li.cursor.tap:after {
    border: 0.0125em solid rgba(255, 0, 0, 0.2);
    transform: translateY(110%) translateX(-50%);
}
.a-editor-options{
    z-index: 1;
}
.a-editor-shadow {
    background: transparent url(../img/bg.png) no-repeat center bottom;
}
.a-interface-menu {
    margin-top:0.1em;
    display:none;
}
.a-interface-hair {
    background-image: url(../img/btn-hair.svg);
}
.a-interface-eyebrows {
    background-image: url(../img/btn-eyebrows.svg);
}
.a-interface-eyes {
    background-image: url(../img/btn-eyes.svg);
}
.a-interface-mouth {
    background-image: url(../img/btn-mouth.svg);
}
.a-interface-mustache {
    background-image: url(../img/btn-mustache.svg);
}
.a-interface-nose {
    background-image: url(../img/btn-nose.svg);
}
.a-interface-ears {
    background-image: url(../img/btn-ears.svg);
}
.a-interface-race {
    background-image: url(../img/btn-race.svg);
}
.a-interface-clothes {
    background-image: url(../img/btn-clothes.svg);
}
.a-interface-beard {
    background-image: url(../img/btn-beard.svg);
}
.a-interface-background {
    background-image: url(../img/btn-background.svg);
}
.a-interface-accessories {
    background-image: url(../img/btn-accessories.svg);
}
.a-interface-save {
    background-image: url(../img/btn-save.svg);
}
.a-interface-download {
    background-image: url(../img/btn-download.svg);
}
.a-interface-download .interact{
    background-color:#fff;
    border-color:#ff4242;
}
.a-interface-random {
    background-image: url(../img/btn-random.svg);
}
.a-interface-female {
    background-image: url(../img/btn-female.svg);
}
.a-interface-male {
    background-image: url(../img/btn-male.svg);
}
.a-interface-pipuzzle {
    background-image: url(../img/pipuzzle.png);
}
.a-interface-pipuzzle-v {
    background-image: url(../img/pipuzzle-v.png);
}
.a-interface-pipuzzle-f {
    background-image: url(../img/pipuzzle-f.png);
}
.a-interface-pipuzzle-p {
    background-image: url(../img/pipuzzle-p.png);
}
.a-download > a {
    border-color: #cccccc;
    background-color: #ff4242;
    opacity: 0;
    will-change: transform opacity;
    transform: translateX(-0.8em) translateY(2.2em) scale(0.5) rotateZ(-820deg);
    transition: transform 1s ease, opacity linear 0.3s;
}
.a-download.active > a {
    transform: none;
    opacity: 1;
}
.a-links{
    margin-top:0.02em;
}
@media (orientation: portrait) {
    .a-root{font-size: 90vw;}
}